$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-light: rgb(190, 190, 190);
$color-white: #ffffff;
$color-black: #000;
$color-blue: rgb(60, 138, 255);
$color-light-blue: rgb(2, 255, 255);
