.Background,
.Background:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -3;
}

.Background__cloud {
  z-index: -1;
  width: 50px;
  height: 35px;
  background-image: url(/src/img/cloud01.png);
  position: absolute;

  &--cloud1 {
    top: 1%;
    left: 0px;
    animation: cloudsMoveLeft 30s linear infinite;
  }

  &--cloud2 {
    top: 20%;
    left: 0px;
    animation: cloudsMoveLeft 27s linear infinite;
    animation-delay: -5s;
  }

  &--cloud3 {
    top: 23%;
    left: 0px;
    animation: cloudsMoveLeft 23s linear infinite;
    animation-delay: -5s;
  }

  &--cloud4 {
    top: 45%;
    left: 0px;
    animation: cloudsMoveLeft 21s linear infinite;
  }
  &--cloud5 {
    top: 50%;
    left: 0px;
    animation: cloudsMoveLeft 20s linear infinite;
    animation-delay: -3s;
  }
  &--cloud6 {
    top: 65%;
    left: 0px;
    animation: cloudsMoveLeft 20s linear infinite;
    animation-delay: -5s;
  }
}

.Background li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -3;
  transition: all 1s;
  animation: imageAnimation 36s linear infinite 0s;
}

.Background li:nth-child(1) span {
  background-image: $gradient_00;
  animation-delay: 0s;
}
.Background li:nth-child(2) span {
  background-image: $gradient_01;
  animation-delay: 06s;
}
.Background li:nth-child(3) span {
  background-image: $gradient_02;
  animation-delay: 012s;
}
.Background li:nth-child(4) span {
  background-image: $gradient_03;
  animation-delay: 18s;
}
.Background li:nth-child(5) span {
  background-image: $gradient_04;
  animation-delay: 24s;
}
.Background li:nth-child(6) span {
  background-image: $gradient_05;
  animation-delay: 30s;
}
