.Background,
.Background:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.Background li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -1;
  transition: all 1s;
  animation: imageAnimation 36s linear infinite 0s;
}

.Background li:nth-child(1) span {
  background-image: $gradient_00;
  animation-delay: 0s;
}
.Background li:nth-child(2) span {
  background-image: $gradient_01;
  animation-delay: 06s;
}
.Background li:nth-child(3) span {
  background-image: $gradient_02;
  animation-delay: 012s;
}
.Background li:nth-child(4) span {
  background-image: $gradient_03;
  animation-delay: 18s;
}
.Background li:nth-child(5) span {
  background-image: $gradient_04;
  animation-delay: 24s;
}
.Background li:nth-child(6) span {
  background-image: $gradient_05;
  animation-delay: 30s;
}
