.InputForm__form-group--textarea {
  box-sizing: border-box;
  border-radius: 30px;
  max-width: 80%;
  padding: 10px 15px;
  margin: 5px 10px;
  resize: none;
  transition: all 0.3s;

  &:focus {
    border: 2px solid $color-blue;
  }
}
