.InputForm {
  display: flex;
  justify-content: space-around;

  &__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__form-group {
    display: inline-block;
    order: 1;
    flex-grow: 1;

    &--textarea {
      max-width: 260px;
      min-width: 100px;
      outline: none;
      height: 75px;
    }

    &--chars {
      margin: auto;
      text-align: center;
      background-color: grey;
      border-radius: 100px;
      width: 120px;

      &--error {
        margin: auto;
        text-align: center;
        right: 50px;
      }
    }
  }
  &__btnDiv {
    display: inline-block;
    order: 2;
    padding: 10px 0px 10px 5px;
    margin: 5px 10px 15px 10px;
  }
}
